<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <table class="table table-bordered" style="table-layout: fixed;">
        <thead>
          <tr>
            <th scope="col">Sunday</th>
            <th scope="col">Monday</th>
            <th scope="col">Tuesday</th>
            <th scope="col">Wednesday</th>
            <th scope="col">Thursday</th>
            <th scope="col">Friday</th>
            <th scope="col">Saturday</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let weeks of getMonth()">
            <td *ngFor="let day of weeks">
              <div *ngIf="day != -1">
                {{ day }}
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>