<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <table class="table table-bordered" style="table-layout: fixed;">
        <thead>
          <tr>
            <th scope="col">Sunday</th>
            <th scope="col">Monday</th>
            <th scope="col">Tuesday</th>
            <th scope="col">Wednesday</th>
            <th scope="col">Thursday</th>
            <th scope="col">Friday</th>
            <th scope="col">Saturday</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let weeks of getMonth()">
            <td *ngFor="let day of weeks" (click)="openModal(dayModal, day)">
              <div *ngIf="day != -1">
                {{ day }}
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<ng-template #dayModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add Item</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('close')" >
    <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label>What items are needed?</label>
      <select multiple class="form-control" (change)="selected_items = $event.target.selectedOptions">
        <option *ngFor="let item of getItems()" value="{{ item.id.path }}">{{ item.name }}</option>
      </select>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="modal.close('reserve')">Reserve</button>
    <button type="button" class="btn btn-secondary" (click)="modal.close('cancel')">Cancel</button>
  </div>
</ng-template>