<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <table class="table table-bordered" style="table-layout: fixed;">
        <thead>
          <tr>
            <th scope="col">Sunday</th>
            <th scope="col">Monday</th>
            <th scope="col">Tuesday</th>
            <th scope="col">Wednesday</th>
            <th scope="col">Thursday</th>
            <th scope="col">Friday</th>
            <th scope="col">Saturday</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let weeks of getMonth()">
            <td *ngFor="let day of weeks" (click)="openModal(dayModal, day)">
              <div *ngIf="day != -1">
                <b style="float: right;">{{ day }}</b><br>
                {{ getReservesForDay(day).length }} reserve(s) this day.
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<ng-template #dayModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Reserves</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('close')" >
    <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <h3>Items Reserved</h3>
    <hr>
    <table class="table">
      <thead class="">
        <tr>
          <th>Item</th>
          <th>Person</th>
          <th>Start</th>
          <th>End</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let r of getReservesForDay(day)">
          <td>{{ r.item.name }}</td>
          <td>{{ r.person }}</td>
          <td>{{ r.time_start }}</td>
          <td>{{ r.time_end }}</td>
          <td><span class="badge badge-danger" (click)="deleteReserve(r)">Delete</span></td>
        </tr>
      </tbody>
    </table>

    <h3>Request an Item</h3>
    <hr>
    <div class="form-group">
      <label>Name</label>
      <input type="text" class="form-control" placeholder="Name" [value]="person">
    </div>
    <div class="form-group">
      <label>Items Needed</label>
      <select multiple class="form-control" (change)="selected_items = $event.target.selectedOptions">
        <option *ngFor="let item of getItems()" value="{{ item.id.path }}">{{ item.name }}</option>
      </select>
    </div>
    <button type="button" class="btn btn-success" (click)="modal.close('reserve')">Reserve</button>&nbsp;
    <button type="button" class="btn btn-secondary" (click)="modal.close('cancel')">Cancel</button>
  </div>
</ng-template>